extends layout

block content
    .container
        .jumbotron
            .container
                h1 How May I help you ?
                p testing testing testing
                a.btn.btn-primary.btn-large(href='#') Learn more &raquo;
